<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <!-- Packages that provide speech recognition services -->
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

</manifest>